.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;

    align-items: center;
    gap: 6px;
}

@media only screen and (max-width:768px) {
    .header {
        padding: 2rem 1rem;
    }
}